.navbar-bottom-line {
    border-bottom: 5px solid lightseagreen;
    /* เลือกสีที่ต้องการ */
    margin-bottom: 0;
}

/* print.css */

@media print {
    @page {
        margin: 3mm 10mm 3mm 10mm;
        /* ปรับระยะขอบของหน้ากระดาษ (บน, ขวา, ล่าง, ซ้าย) */
    }

}